.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #79A6EC;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 50%;
}

nav ul li {
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    padding: 0.75em;
    color: #5474A4;
    background-color: white;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #5474A4;
    color: white;
    border-radius: 5px;
}

nav ul li.active a {
    background-color: #5474A4;
    color: white;
    border-radius: 5px;
}